<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">API DEMO</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/project">Projects</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/project/add">Add project</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/tasks">Tasks</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/task/add">Add task</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/user">Users</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/user/add">Add user</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/chat">Chat</a>
            <a class="py-2 text-dark text-decoration-none" href="/authorization">Authorization</a>
        </nav>
    </div>
</div>